<configuration>

  <appender name="STDERR" class="ch.qos.logback.core.FileAppender">
    <file>error.log</file>
    <append>true</append>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="DEBUG" class="ch.qos.logback.core.FileAppender">
    <file>debug.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="HeuristicsEngine" class="ch.qos.logback.core.FileAppender">
    <file>heuristics_engine.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="NativeMessaging" class="ch.qos.logback.core.FileAppender">
    <file>native_messaging.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TabState" class="ch.qos.logback.core.FileAppender">
    <file>tab_state.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="Persistence" class="ch.qos.logback.core.FileAppender">
    <file>persistence.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="Graphs" class="ch.qos.logback.core.FileAppender">
    <file>graphs.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="Main" class="ch.qos.logback.core.FileAppender">
    <file>main.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="DEBUG" />
    <appender-ref ref="STDERR" />
  </root>

  <logger name="heuristics.HeuristicsEngine" level="debug">
    <appender-ref ref="HeuristicsEngine" />
  </logger>

  <logger name="messaging.NativeMessaging" level="debug">
    <appender-ref ref="NativeMessaging" />
  </logger>

  <logger name="tabstate.TabState" level="debug">
    <appender-ref ref="TabState" />
  </logger>

  <logger name="persistence.Persistence" level="debug">
    <appender-ref ref="Persistence" />
  </logger>

  <logger name="heuristics.Watset" level="debug">
    <appender-ref ref="Graphs" />
  </logger>

  <logger name="main.Main" level="debug">
    <appender-ref ref="Main" />
  </logger>
</configuration>
