{
  "name": "tabs",
  "description": "Host for Automated Tab Organization",
  "path": "$HOME/bin/tabs/bin/tabs",
  "type": "stdio",
  "allowed_origins": ["chrome-extension://aoipjbodficcbdjijlodfkbemndpgdig/"]
}
