<Wix xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Automated Tab Organization" Language="1033" Version="0.5.0" Manufacturer="Roland Schlaefli &lt;rolandschlaefli@gmail.com&gt;" UpgradeCode="9b2f86fa-aa0d-4b12-ac73-6831f4628329">
    <Package Platform="x64" Description="Heuristics backend for the Automated Tab Organization WebExtension" Comments="TODO - we need comments." Manufacturer="Roland Schlaefli &lt;rolandschlaefli@gmail.com&gt;" InstallScope="perMachine" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="_tabs3552126xx.cab" EmbedCab="yes" />

    <!-- Define the directories we use -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="tabs">
          <Component Win64="yes" Id="_ApplicationProgramsFolderRemove689092593" Guid="40c1ae15-f7e3-486c-abc1-7a5c9524a5fe">
            <RemoveFolder Id="ApplicationProgramsFolderRemove" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Roland Schlaefli &lt;rolandschlaefli@gmail.com&gt;\tabs" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="tabs">
          <Directory Id="_lib107141xxx" Name="lib"></Directory> <!-- -->
          <Directory Id="_bin97543xxxx" Name="bin"></Directory>
        </Directory>
      </Directory>
    </Directory>
    <!-- Now define the components -->
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_ch_uzh_rschlaefli_tabs_0_5_0_jar646163362" Guid="fd8dd471-ceb7-4408-bf7b-ce3bae252afa">
        <File Id="fl__lib_ch_uzh_rschlaefli_tabs_0_5_0_jar646163362" Name="ch.uzh.rschlaefli.tabs-0.5.0.jar" DiskId="1" Source="lib\ch.uzh.rschlaefli.tabs-0.5.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_simap_jar135472233" Guid="df5ac79c-ede7-42c7-aa79-bb25bf0a492b">
        <File Id="fl__lib_simap_jar135472233" Name="simap.jar" DiskId="1" Source="lib\simap.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_watset_jar144873416" Guid="ae616fe4-55b0-47b2-a92b-e4a488849b47">
        <File Id="fl__lib_watset_jar144873416" Name="watset.jar" DiskId="1" Source="lib\watset.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_scala_lang_scala_library_2_13_2_jar590712787" Guid="cb3e396a-9a1c-4c19-9ded-fc881b3afc47">
        <File Id="fl__lib_org_scala_lang_scala_library_2_13_2_jar590712787" Name="org.scala-lang.scala-library-2.13.2.jar" DiskId="1" Source="lib\org.scala-lang.scala-library-2.13.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_scalaz_scalaz_core_2_13_7_3_2_jar203689179" Guid="8daabf4d-cfd8-4caf-ba70-75a1fb2443be">
        <File Id="fl__lib_org_scalaz_scalaz_core_2_13_7_3_2_jar203689179" Name="org.scalaz.scalaz-core_2.13-7.3.2.jar" DiskId="1" Source="lib\org.scalaz.scalaz-core_2.13-7.3.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_scalactic_scalactic_2_13_3_2_0_jar106848319" Guid="5a1b8e6a-402a-4b69-93a9-d628d18059af">
        <File Id="fl__lib_org_scalactic_scalactic_2_13_3_2_0_jar106848319" Name="org.scalactic.scalactic_2.13-3.2.0.jar" DiskId="1" Source="lib\org.scalactic.scalactic_2.13-3.2.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_ch_qos_logback_logback_classic_1_2_3_jar203962478" Guid="cbeb94bb-b806-4318-9573-26d8977659e1">
        <File Id="fl__lib_ch_qos_logback_logback_classic_1_2_3_jar203962478" Name="ch.qos.logback.logback-classic-1.2.3.jar" DiskId="1" Source="lib\ch.qos.logback.logback-classic-1.2.3.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_b_com_typesafe_scala_logging_scala_logging_2_13_3_9_2_jar903693651" Guid="a8569023-fe6f-464a-a096-b9bc121f9e14">
        <File Id="fl__b_com_typesafe_scala_logging_scala_logging_2_13_3_9_2_jar903693651" Name="com.typesafe.scala-logging.scala-logging_2.13-3.9.2.jar" DiskId="1" Source="lib\com.typesafe.scala-logging.scala-logging_2.13-3.9.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_codehaus_janino_janino_3_1_2_jar818439470" Guid="f10f1019-93bd-49a7-b022-e1f91b96961b">
        <File Id="fl__lib_org_codehaus_janino_janino_3_1_2_jar818439470" Name="org.codehaus.janino.janino-3.1.2.jar" DiskId="1" Source="lib\org.codehaus.janino.janino-3.1.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_core_2_4_0_jar322195316" Guid="9af200c3-db44-4b11-a09c-f12a0f553f4d">
        <File Id="fl__lib_com_github_haifengl_smile_core_2_4_0_jar322195316" Name="com.github.haifengl.smile-core-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-core-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_scala_2_13_2_4_0_jar138239122" Guid="8b707c5d-748f-49ce-aa61-46fb13fc8111">
        <File Id="fl__lib_com_github_haifengl_smile_scala_2_13_2_4_0_jar138239122" Name="com.github.haifengl.smile-scala_2.13-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-scala_2.13-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_nscala_time_nscala_time_2_13_2_24_0_jar314076447" Guid="e143f06e-16da-4821-9009-8d63d2ca7aaf">
        <File Id="fl__lib_com_github_nscala_time_nscala_time_2_13_2_24_0_jar314076447" Name="com.github.nscala-time.nscala-time_2.13-2.24.0.jar" DiskId="1" Source="lib\com.github.nscala-time.nscala-time_2.13-2.24.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_mpkorstanje_simmetrics_core_4_1_1_jar256780404" Guid="243adbf0-7db0-43c2-b76d-c8b637c5480d">
        <File Id="fl__lib_com_github_mpkorstanje_simmetrics_core_4_1_1_jar256780404" Name="com.github.mpkorstanje.simmetrics-core-4.1.1.jar" DiskId="1" Source="lib\com.github.mpkorstanje.simmetrics-core-4.1.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_io_circe_circe_core_2_13_0_13_0_jar146179148" Guid="573c7d8a-c7e4-4b1e-9200-af4bd3847eab">
        <File Id="fl__lib_io_circe_circe_core_2_13_0_13_0_jar146179148" Name="io.circe.circe-core_2.13-0.13.0.jar" DiskId="1" Source="lib\io.circe.circe-core_2.13-0.13.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_io_circe_circe_generic_2_13_0_13_0_jar107452047" Guid="60e5bb4c-f25e-4968-a09d-61faf6fb6952">
        <File Id="fl__lib_io_circe_circe_generic_2_13_0_13_0_jar107452047" Name="io.circe.circe-generic_2.13-0.13.0.jar" DiskId="1" Source="lib\io.circe.circe-generic_2.13-0.13.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_io_circe_circe_parser_2_13_0_13_0_jar187486304" Guid="ddc8f2d1-735d-4b30-ab17-b3868d72ffe7">
        <File Id="fl__lib_io_circe_circe_parser_2_13_0_13_0_jar187486304" Name="io.circe.circe-parser_2.13-0.13.0.jar" DiskId="1" Source="lib\io.circe.circe-parser_2.13-0.13.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_jgrapht_jgrapht_core_1_5_0_jar127243021" Guid="a3e14e44-bd68-431d-9e73-c04de4377963">
        <File Id="fl__lib_org_jgrapht_jgrapht_core_1_5_0_jar127243021" Name="org.jgrapht.jgrapht-core-1.5.0.jar" DiskId="1" Source="lib\org.jgrapht.jgrapht-core-1.5.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_jgrapht_jgrapht_ext_1_5_0_jar911296116" Guid="4f629b5f-af43-4c0c-9155-dba8f3794625">
        <File Id="fl__lib_org_jgrapht_jgrapht_ext_1_5_0_jar911296116" Name="org.jgrapht.jgrapht-ext-1.5.0.jar" DiskId="1" Source="lib\org.jgrapht.jgrapht-ext-1.5.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_jgrapht_jgrapht_io_1_5_0_jar116881588" Guid="de108ac4-a870-458b-9864-00fdf602394e">
        <File Id="fl__lib_org_jgrapht_jgrapht_io_1_5_0_jar116881588" Name="org.jgrapht.jgrapht-io-1.5.0.jar" DiskId="1" Source="lib\org.jgrapht.jgrapht-io-1.5.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_jgrapht_jgrapht_opt_1_5_0_jar583020642" Guid="52918489-4276-4eb1-a040-c42d5314a1b1">
        <File Id="fl__lib_org_jgrapht_jgrapht_opt_1_5_0_jar583020642" Name="org.jgrapht.jgrapht-opt-1.5.0.jar" DiskId="1" Source="lib\org.jgrapht.jgrapht-opt-1.5.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_akka_akka_actor_2_13_2_6_8_jar142127408" Guid="6f6a1a92-4e2e-4077-a8fb-9a4eedb61e59">
        <File Id="fl__lib_com_typesafe_akka_akka_actor_2_13_2_6_8_jar142127408" Name="com.typesafe.akka.akka-actor_2.13-2.6.8.jar" DiskId="1" Source="lib\com.typesafe.akka.akka-actor_2.13-2.6.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_akka_akka_testkit_2_13_2_6_8_jar195665576" Guid="d5f4e14c-cab3-4362-9515-a06314bee524">
        <File Id="fl__lib_com_typesafe_akka_akka_testkit_2_13_2_6_8_jar195665576" Name="com.typesafe.akka.akka-testkit_2.13-2.6.8.jar" DiskId="1" Source="lib\com.typesafe.akka.akka-testkit_2.13-2.6.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_akka_akka_stream_2_13_2_6_8_jar193503835" Guid="f52ee0ce-b8d8-4f8a-b188-76599edd4605">
        <File Id="fl__lib_com_typesafe_akka_akka_stream_2_13_2_6_8_jar193503835" Name="com.typesafe.akka.akka-stream_2.13-2.6.8.jar" DiskId="1" Source="lib\com.typesafe.akka.akka-stream_2.13-2.6.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_akka_akka_stream_testkit_2_13_2_6_8_jar160105020" Guid="f3eb12d3-1ccf-458a-b5d3-8f96261faa7b">
        <File Id="fl__lib_com_typesafe_akka_akka_stream_testkit_2_13_2_6_8_jar160105020" Name="com.typesafe.akka.akka-stream-testkit_2.13-2.6.8.jar" DiskId="1" Source="lib\com.typesafe.akka.akka-stream-testkit_2.13-2.6.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_akka_akka_slf4j_2_13_2_6_8_jar872931411" Guid="226ec147-901e-4920-ab12-6a8d14c351c9">
        <File Id="fl__lib_com_typesafe_akka_akka_slf4j_2_13_2_6_8_jar872931411" Name="com.typesafe.akka.akka-slf4j_2.13-2.6.8.jar" DiskId="1" Source="lib\com.typesafe.akka.akka-slf4j_2.13-2.6.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_scala_lang_scala_reflect_2_13_2_jar134400235" Guid="0db16a82-9a49-4b97-834f-414fa1c36309">
        <File Id="fl__lib_org_scala_lang_scala_reflect_2_13_2_jar134400235" Name="org.scala-lang.scala-reflect-2.13.2.jar" DiskId="1" Source="lib\org.scala-lang.scala-reflect-2.13.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_ch_qos_logback_logback_core_1_2_3_jar156832362" Guid="b99d7612-2dac-49a9-a7e1-d958ac8c6835">
        <File Id="fl__lib_ch_qos_logback_logback_core_1_2_3_jar156832362" Name="ch.qos.logback.logback-core-1.2.3.jar" DiskId="1" Source="lib\ch.qos.logback.logback-core-1.2.3.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_slf4j_slf4j_api_1_7_30_jar650562502" Guid="45000ee0-cfe4-4121-8ea6-26a6d7db2ca6">
        <File Id="fl__lib_org_slf4j_slf4j_api_1_7_30_jar650562502" Name="org.slf4j.slf4j-api-1.7.30.jar" DiskId="1" Source="lib\org.slf4j.slf4j-api-1.7.30.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_codehaus_janino_commons_compiler_3_1_2_jar147717791" Guid="78121874-cf35-48d1-a798-4000cdf2e430">
        <File Id="fl__lib_org_codehaus_janino_commons_compiler_3_1_2_jar147717791" Name="org.codehaus.janino.commons-compiler-3.1.2.jar" DiskId="1" Source="lib\org.codehaus.janino.commons-compiler-3.1.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_data_2_4_0_jar151465222" Guid="32b2bfa3-909b-4c02-852d-0e927f7c8636">
        <File Id="fl__lib_com_github_haifengl_smile_data_2_4_0_jar151465222" Name="com.github.haifengl.smile-data-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-data-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_math_2_4_0_jar146347017" Guid="173cdcaf-4e7a-4472-a56b-da9c025b9705">
        <File Id="fl__lib_com_github_haifengl_smile_math_2_4_0_jar146347017" Name="com.github.haifengl.smile-math-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-math-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_graph_2_4_0_jar205778321" Guid="af21635a-8518-48f0-9b77-a6fc6f3f6916">
        <File Id="fl__lib_com_github_haifengl_smile_graph_2_4_0_jar205778321" Name="com.github.haifengl.smile-graph-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-graph-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_netlib_2_4_0_jar77351523x" Guid="854f3523-ea2a-4437-af31-d56db5508644">
        <File Id="fl__lib_com_github_haifengl_smile_netlib_2_4_0_jar77351523x" Name="com.github.haifengl.smile-netlib-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-netlib-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_io_2_4_0_jar518741253" Guid="9d68f104-eb95-4a70-a920-dab02e96e45d">
        <File Id="fl__lib_com_github_haifengl_smile_io_2_4_0_jar518741253" Name="com.github.haifengl.smile-io-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-io-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_interpolation_2_4_0_jar998918179" Guid="b0de4b41-cdf3-42b0-82d8-71d1633f526d">
        <File Id="fl__lib_com_github_haifengl_smile_interpolation_2_4_0_jar998918179" Name="com.github.haifengl.smile-interpolation-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-interpolation-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_nlp_2_4_0_jar556591537" Guid="318cf933-4747-4755-9cfe-379684826e9e">
        <File Id="fl__lib_com_github_haifengl_smile_nlp_2_4_0_jar556591537" Name="com.github.haifengl.smile-nlp-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-nlp-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_plot_2_4_0_jar164836203" Guid="5465daea-2deb-45f2-bbcb-bdf3c9688874">
        <File Id="fl__lib_com_github_haifengl_smile_plot_2_4_0_jar164836203" Name="com.github.haifengl.smile-plot-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-plot-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_haifengl_smile_json_2_13_2_4_0_jar871380460" Guid="598e7c3b-a8c6-4514-ae09-a73d9183d7c4">
        <File Id="fl__lib_com_github_haifengl_smile_json_2_13_2_4_0_jar871380460" Name="com.github.haifengl.smile-json_2.13-2.4.0.jar" DiskId="1" Source="lib\com.github.haifengl.smile-json_2.13-2.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_scala_lang_modules_scala_xml_2_13_1_3_0_jar113062446" Guid="40688bb2-8f41-45bd-8947-ff609f192d66">
        <File Id="fl__lib_org_scala_lang_modules_scala_xml_2_13_1_3_0_jar113062446" Name="org.scala-lang.modules.scala-xml_2.13-1.3.0.jar" DiskId="1" Source="lib\org.scala-lang.modules.scala-xml_2.13-1.3.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_thoughtworks_xstream_xstream_1_4_12_jar124290467" Guid="043476fd-32d2-4581-b020-6ae961934e2d">
        <File Id="fl__lib_com_thoughtworks_xstream_xstream_1_4_12_jar124290467" Name="com.thoughtworks.xstream.xstream-1.4.12.jar" DiskId="1" Source="lib\com.thoughtworks.xstream.xstream-1.4.12.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_joda_time_joda_time_2_10_6_jar195457599" Guid="5b0e0175-0579-4508-b556-a5fe33ad8ed0">
        <File Id="fl__lib_joda_time_joda_time_2_10_6_jar195457599" Name="joda-time.joda-time-2.10.6.jar" DiskId="1" Source="lib\joda-time.joda-time-2.10.6.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_joda_joda_convert_2_2_1_jar258571367" Guid="0707397f-00a5-465d-b126-8377c48eb20b">
        <File Id="fl__lib_org_joda_joda_convert_2_2_1_jar258571367" Name="org.joda.joda-convert-2.2.1.jar" DiskId="1" Source="lib\org.joda.joda-convert-2.2.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_google_guava_guava_19_0_jar176981278" Guid="263bdcc7-d3ce-4f81-920d-3bcd4ba71609">
        <File Id="fl__lib_com_google_guava_guava_19_0_jar176981278" Name="com.google.guava.guava-19.0.jar" DiskId="1" Source="lib\com.google.guava.guava-19.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_commons_codec_commons_codec_1_10_jar326227860" Guid="3729ff84-c0d6-4c29-b55e-3c527e096dd5">
        <File Id="fl__lib_commons_codec_commons_codec_1_10_jar326227860" Name="commons-codec.commons-codec-1.10.jar" DiskId="1" Source="lib\commons-codec.commons-codec-1.10.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_io_circe_circe_numbers_2_13_0_13_0_jar185153127" Guid="b7937314-e180-4d2c-a220-d782acfe8ca0">
        <File Id="fl__lib_io_circe_circe_numbers_2_13_0_13_0_jar185153127" Name="io.circe.circe-numbers_2.13-0.13.0.jar" DiskId="1" Source="lib\io.circe.circe-numbers_2.13-0.13.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_typelevel_cats_core_2_13_2_1_0_jar146091293" Guid="3e6f20b4-7c3d-47ce-9a61-5e84c980b417">
        <File Id="fl__lib_org_typelevel_cats_core_2_13_2_1_0_jar146091293" Name="org.typelevel.cats-core_2.13-2.1.0.jar" DiskId="1" Source="lib\org.typelevel.cats-core_2.13-2.1.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_chuusai_shapeless_2_13_2_3_3_jar89369042x" Guid="cba1d65c-93bb-4a81-8483-a4edf120f6c8">
        <File Id="fl__lib_com_chuusai_shapeless_2_13_2_3_3_jar89369042x" Name="com.chuusai.shapeless_2.13-2.3.3.jar" DiskId="1" Source="lib\com.chuusai.shapeless_2.13-2.3.3.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_io_circe_circe_jawn_2_13_0_13_0_jar437184426" Guid="de4b370d-fff7-45c9-84ab-b63be4f0b271">
        <File Id="fl__lib_io_circe_circe_jawn_2_13_0_13_0_jar437184426" Name="io.circe.circe-jawn_2.13-0.13.0.jar" DiskId="1" Source="lib\io.circe.circe-jawn_2.13-0.13.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_jheaps_jheaps_0_13_jar203324819" Guid="2271befa-e19e-490e-aa4a-89fe14027dd6">
        <File Id="fl__lib_org_jheaps_jheaps_0_13_jar203324819" Name="org.jheaps.jheaps-0.13.jar" DiskId="1" Source="lib\org.jheaps.jheaps-0.13.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_vlsi_mxgraph_jgraphx_4_0_5_jar638256040" Guid="ee134795-0249-40d7-aec2-b627d8426647">
        <File Id="fl__lib_com_github_vlsi_mxgraph_jgraphx_4_0_5_jar638256040" Name="com.github.vlsi.mxgraph.jgraphx-4.0.5.jar" DiskId="1" Source="lib\com.github.vlsi.mxgraph.jgraphx-4.0.5.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_antlr_antlr4_runtime_4_8_1_jar69542569x" Guid="3e916094-2866-4119-89c0-76a71a1ae69d">
        <File Id="fl__lib_org_antlr_antlr4_runtime_4_8_1_jar69542569x" Name="org.antlr.antlr4-runtime-4.8-1.jar" DiskId="1" Source="lib\org.antlr.antlr4-runtime-4.8-1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_apache_commons_commons_text_1_8_jar984625119" Guid="8e477860-2f89-4b47-80e3-cefcca0586b8">
        <File Id="fl__lib_org_apache_commons_commons_text_1_8_jar984625119" Name="org.apache.commons.commons-text-1.8.jar" DiskId="1" Source="lib\org.apache.commons.commons-text-1.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_it_unimi_dsi_fastutil_8_3_1_jar156771387" Guid="7d4cfddd-2d0c-4a55-aba8-de1071dfec02">
        <File Id="fl__lib_it_unimi_dsi_fastutil_8_3_1_jar156771387" Name="it.unimi.dsi.fastutil-8.3.1.jar" DiskId="1" Source="lib\it.unimi.dsi.fastutil-8.3.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_config_1_4_0_jar190952942" Guid="87166bc5-86de-4a65-8320-62591dd3d732">
        <File Id="fl__lib_com_typesafe_config_1_4_0_jar190952942" Name="com.typesafe.config-1.4.0.jar" DiskId="1" Source="lib\com.typesafe.config-1.4.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_org_scala_lang_modules_scala_java8_compat_2_13_0_9_0_jar193722625" Guid="df3368d4-4aaf-47a7-9ac6-4c6e3b238c7f">
        <File Id="fl__org_scala_lang_modules_scala_java8_compat_2_13_0_9_0_jar193722625" Name="org.scala-lang.modules.scala-java8-compat_2.13-0.9.0.jar" DiskId="1" Source="lib\org.scala-lang.modules.scala-java8-compat_2.13-0.9.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_akka_akka_protobuf_v3_2_13_2_6_8_jar145051095" Guid="4e6d2d08-dd2a-4c7e-b3d6-31c63d5840de">
        <File Id="fl__lib_com_typesafe_akka_akka_protobuf_v3_2_13_2_6_8_jar145051095" Name="com.typesafe.akka.akka-protobuf-v3_2.13-2.6.8.jar" DiskId="1" Source="lib\com.typesafe.akka.akka-protobuf-v3_2.13-2.6.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_reactivestreams_reactive_streams_1_0_3_jar192433057" Guid="b4fb9e53-df4b-4b4a-b7ab-4e784d1cb084">
        <File Id="fl__lib_org_reactivestreams_reactive_streams_1_0_3_jar192433057" Name="org.reactivestreams.reactive-streams-1.0.3.jar" DiskId="1" Source="lib\org.reactivestreams.reactive-streams-1.0.3.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_typesafe_ssl_config_core_2_13_0_4_1_jar211505197" Guid="7db59fa9-f6be-4391-b184-1a16f5e97d2b">
        <File Id="fl__lib_com_typesafe_ssl_config_core_2_13_0_4_1_jar211505197" Name="com.typesafe.ssl-config-core_2.13-0.4.1.jar" DiskId="1" Source="lib\com.typesafe.ssl-config-core_2.13-0.4.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_il_netlib_netlib_native_system_win_x86_64_1_1_natives_jar110072591" Guid="4b58b1d4-db78-4d81-8fd3-293f622079df">
        <File Id="fl__il_netlib_netlib_native_system_win_x86_64_1_1_natives_jar110072591" Name="com.github.fommil.netlib.netlib-native_system-win-x86_64-1.1-natives.jar" DiskId="1" Source="lib\com.github.fommil.netlib.netlib-native_system-win-x86_64-1.1-natives.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_il_netlib_netlib_native_system_osx_x86_64_1_1_natives_jar885242982" Guid="50ec4694-9f18-49a0-8528-e9932c690c32">
        <File Id="fl__il_netlib_netlib_native_system_osx_x86_64_1_1_natives_jar885242982" Name="com.github.fommil.netlib.netlib-native_system-osx-x86_64-1.1-natives.jar" DiskId="1" Source="lib\com.github.fommil.netlib.netlib-native_system-osx-x86_64-1.1-natives.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_netlib_netlib_native_system_linux_x86_64_1_1_natives_jar122663366" Guid="3dbfb4e9-9678-4bbf-9aa8-cb64fb731537">
        <File Id="fl__netlib_netlib_native_system_linux_x86_64_1_1_natives_jar122663366" Name="com.github.fommil.netlib.netlib-native_system-linux-x86_64-1.1-natives.jar" DiskId="1" Source="lib\com.github.fommil.netlib.netlib-native_system-linux-x86_64-1.1-natives.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_l_netlib_netlib_native_system_linux_armhf_1_1_natives_jar182491462" Guid="2678825b-a601-4692-9fc6-f6b5e306c067">
        <File Id="fl__l_netlib_netlib_native_system_linux_armhf_1_1_natives_jar182491462" Name="com.github.fommil.netlib.netlib-native_system-linux-armhf-1.1-natives.jar" DiskId="1" Source="lib\com.github.fommil.netlib.netlib-native_system-linux-armhf-1.1-natives.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_fommil_netlib_native_system_java_1_1_jar122402889" Guid="80f99ce0-3eec-4b2f-b868-39d27cb712cc">
        <File Id="fl__lib_com_github_fommil_netlib_native_system_java_1_1_jar122402889" Name="com.github.fommil.netlib.native_system-java-1.1.jar" DiskId="1" Source="lib\com.github.fommil.netlib.native_system-java-1.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_fommil_netlib_core_1_1_2_jar160310507" Guid="b2b003c0-92bb-407d-85b7-36bde5198f39">
        <File Id="fl__lib_com_github_fommil_netlib_core_1_1_2_jar160310507" Name="com.github.fommil.netlib.core-1.1.2.jar" DiskId="1" Source="lib\com.github.fommil.netlib.core-1.1.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_github_fommil_jniloader_1_1_jar803011678" Guid="1aa30d9a-4cf5-4267-9eb4-e98d490443aa">
        <File Id="fl__lib_com_github_fommil_jniloader_1_1_jar803011678" Name="com.github.fommil.jniloader-1.1.jar" DiskId="1" Source="lib\com.github.fommil.jniloader-1.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_net_sourceforge_f2j_arpack_combined_all_0_1_jar141428016" Guid="3e19d648-0bba-440f-b8f5-ea448c30300f">
        <File Id="fl__lib_net_sourceforge_f2j_arpack_combined_all_0_1_jar141428016" Name="net.sourceforge.f2j.arpack_combined_all-0.1.jar" DiskId="1" Source="lib\net.sourceforge.f2j.arpack_combined_all-0.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_epam_parso_2_0_11_jar128082244" Guid="f3b5f088-08cd-453d-aed2-d449cc37a44e">
        <File Id="fl__lib_com_epam_parso_2_0_11_jar128082244" Name="com.epam.parso-2.0.11.jar" DiskId="1" Source="lib\com.epam.parso-2.0.11.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_apache_commons_commons_csv_1_8_jar706653526" Guid="251fcf4f-ec45-4e38-b57e-c7fe019ea87f">
        <File Id="fl__lib_org_apache_commons_commons_csv_1_8_jar706653526" Name="org.apache.commons.commons-csv-1.8.jar" DiskId="1" Source="lib\org.apache.commons.commons-csv-1.8.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_swinglabs_swingx_1_6_1_jar368317396" Guid="a92db153-1997-42f3-9084-39aa2798c223">
        <File Id="fl__lib_org_swinglabs_swingx_1_6_1_jar368317396" Name="org.swinglabs.swingx-1.6.1.jar" DiskId="1" Source="lib\org.swinglabs.swingx-1.6.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_xmlpull_xmlpull_1_1_3_1_jar691886308" Guid="6f10f326-6ee7-4391-9c27-b69131c05082">
        <File Id="fl__lib_xmlpull_xmlpull_1_1_3_1_jar691886308" Name="xmlpull.xmlpull-1.1.3.1.jar" DiskId="1" Source="lib\xmlpull.xmlpull-1.1.3.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_xpp3_xpp3_min_1_1_4c_jar112872468" Guid="3b912a9a-1f6a-4aea-a5e1-0f546a025d52">
        <File Id="fl__lib_xpp3_xpp3_min_1_1_4c_jar112872468" Name="xpp3.xpp3_min-1.1.4c.jar" DiskId="1" Source="lib\xpp3.xpp3_min-1.1.4c.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_typelevel_cats_macros_2_13_2_1_0_jar127689636" Guid="9a55949a-6d71-4cc7-ad70-269d1db12e26">
        <File Id="fl__lib_org_typelevel_cats_macros_2_13_2_1_0_jar127689636" Name="org.typelevel.cats-macros_2.13-2.1.0.jar" DiskId="1" Source="lib\org.typelevel.cats-macros_2.13-2.1.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_typelevel_cats_kernel_2_13_2_1_0_jar498204993" Guid="c49ede70-5937-4e5a-b1f9-85629d0a3b09">
        <File Id="fl__lib_org_typelevel_cats_kernel_2_13_2_1_0_jar498204993" Name="org.typelevel.cats-kernel_2.13-2.1.0.jar" DiskId="1" Source="lib\org.typelevel.cats-kernel_2.13-2.1.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_typelevel_jawn_parser_2_13_1_0_0_jar174242830" Guid="fb02e3fc-ef72-4df0-aee2-80e80ec2c4e5">
        <File Id="fl__lib_org_typelevel_jawn_parser_2_13_1_0_0_jar174242830" Name="org.typelevel.jawn-parser_2.13-1.0.0.jar" DiskId="1" Source="lib\org.typelevel.jawn-parser_2.13-1.0.0.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_apache_commons_commons_lang3_3_9_jar567393644" Guid="00191482-c6ea-43dc-a85a-f8b50470a61b">
        <File Id="fl__lib_org_apache_commons_commons_lang3_3_9_jar567393644" Name="org.apache.commons.commons-lang3-3.9.jar" DiskId="1" Source="lib\org.apache.commons.commons-lang3-3.9.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_cala_lang_modules_scala_parser_combinators_2_13_1_1_2_jar55901191x" Guid="cc2f8f12-f6ca-42a3-8c65-31403f78b4e4">
        <File Id="fl__cala_lang_modules_scala_parser_combinators_2_13_1_1_2_jar55901191x" Name="org.scala-lang.modules.scala-parser-combinators_2.13-1.1.2.jar" DiskId="1" Source="lib\org.scala-lang.modules.scala-parser-combinators_2.13-1.1.2.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_com_jhlabs_filters_2_0_235_jar206066454" Guid="33961c45-dbdf-4672-8c06-c69becd27bd7">
        <File Id="fl__lib_com_jhlabs_filters_2_0_235_jar206066454" Name="com.jhlabs.filters-2.0.235.jar" DiskId="1" Source="lib\com.jhlabs.filters-2.0.235.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_lib107141xxx">
      <Component Win64="yes" Id="_lib_org_swinglabs_swing_worker_1_1_jar114014348" Guid="838c0bae-dd4c-4c19-a185-4e422059cec0">
        <File Id="fl__lib_org_swinglabs_swing_worker_1_1_jar114014348" Name="org.swinglabs.swing-worker-1.1.jar" DiskId="1" Source="lib\org.swinglabs.swing-worker-1.1.jar"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_bin97543xxxx">
      <Component Win64="yes" Id="_bin_tabs891491206" Guid="bfb0fd1b-bfcb-41a2-924f-027a34752101">
        <File Id="fl__bin_tabs891491206" Name="tabs" DiskId="1" Source="bin\tabs"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="_bin97543xxxx">
      <Component Win64="yes" Id="_bin_tabs_bat19380819x" Guid="3277b4c6-3c3d-4c1a-b9f1-5ac92d7cda91">
        <File Id="fl__bin_tabs_bat19380819x" Name="tabs.bat" DiskId="1" Source="bin\tabs.bat"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLDIR">
      <Component Win64="yes" Id="_manifest_chrome_win_json255906289" Guid="15266f72-8e2c-4346-a243-1fe87516fda6">
        <File Id="fl__manifest_chrome_win_json255906289" Name="manifest-chrome-win.json" DiskId="1" Source="manifest-chrome-win.json"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLDIR">
      <Component Win64="yes" Id="_manifest_firefox_win_json891208716" Guid="d6c82080-76fa-41b9-ad9a-aa1d0a4f38ca">
        <File Id="fl__manifest_firefox_win_json891208716" Name="manifest-firefox-win.json" DiskId="1" Source="manifest-firefox-win.json"></File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLDIR">
      <Component Win64="yes" Id="RegistryEntries64" Guid="18392396-dae0-42dc-b112-9c431d315da4">
        <RegistryKey Id="ChromeManifestLocation64" Root="HKLM" Key="SOFTWARE\Google\Chrome\NativeMessagingHosts\tabs" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[INSTALLDIR]manifest-chrome-win.json" />
        </RegistryKey>
        <RegistryKey Id="FirefoxManifestLocation64" Root="HKLM" Key="SOFTWARE\Mozilla\NativeMessagingHosts\tabs" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[INSTALLDIR]manifest-firefox-win.json" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    <!-- Now define the features! -->
    <Feature Id="Complete" Title="Automated Tab Organization" Description="Heuristics backend for the Automated Tab Organization WebExtension" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
      <!-- Manually added uninstall feautre -->
      <Feature Id="Uninstall" Title="Uninstall" Description="Uninstall ApplicationFolder" Level="1" Absent="allow">
        <ComponentRef Id="_ApplicationProgramsFolderRemove689092593" />
      </Feature>
      <Feature Id="_tabs_core179321555" Title="tabs" Description="All core files." Level="1" Absent="disallow">
        <ComponentRef Id="_lib_ch_uzh_rschlaefli_tabs_0_5_0_jar646163362" />
        <ComponentRef Id="_lib_simap_jar135472233" />
        <ComponentRef Id="_lib_watset_jar144873416" />
        <ComponentRef Id="_lib_org_scala_lang_scala_library_2_13_2_jar590712787" />
        <ComponentRef Id="_lib_org_scalaz_scalaz_core_2_13_7_3_2_jar203689179" />
        <ComponentRef Id="_lib_org_scalactic_scalactic_2_13_3_2_0_jar106848319" />
        <ComponentRef Id="_lib_ch_qos_logback_logback_classic_1_2_3_jar203962478" />
        <ComponentRef Id="_b_com_typesafe_scala_logging_scala_logging_2_13_3_9_2_jar903693651" />
        <ComponentRef Id="_lib_org_codehaus_janino_janino_3_1_2_jar818439470" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_core_2_4_0_jar322195316" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_scala_2_13_2_4_0_jar138239122" />
        <ComponentRef Id="_lib_com_github_nscala_time_nscala_time_2_13_2_24_0_jar314076447" />
        <ComponentRef Id="_lib_com_github_mpkorstanje_simmetrics_core_4_1_1_jar256780404" />
        <ComponentRef Id="_lib_io_circe_circe_core_2_13_0_13_0_jar146179148" />
        <ComponentRef Id="_lib_io_circe_circe_generic_2_13_0_13_0_jar107452047" />
        <ComponentRef Id="_lib_io_circe_circe_parser_2_13_0_13_0_jar187486304" />
        <ComponentRef Id="_lib_org_jgrapht_jgrapht_core_1_5_0_jar127243021" />
        <ComponentRef Id="_lib_org_jgrapht_jgrapht_ext_1_5_0_jar911296116" />
        <ComponentRef Id="_lib_org_jgrapht_jgrapht_io_1_5_0_jar116881588" />
        <ComponentRef Id="_lib_org_jgrapht_jgrapht_opt_1_5_0_jar583020642" />
        <ComponentRef Id="_lib_com_typesafe_akka_akka_actor_2_13_2_6_8_jar142127408" />
        <ComponentRef Id="_lib_com_typesafe_akka_akka_testkit_2_13_2_6_8_jar195665576" />
        <ComponentRef Id="_lib_com_typesafe_akka_akka_stream_2_13_2_6_8_jar193503835" />
        <ComponentRef Id="_lib_com_typesafe_akka_akka_stream_testkit_2_13_2_6_8_jar160105020" />
        <ComponentRef Id="_lib_com_typesafe_akka_akka_slf4j_2_13_2_6_8_jar872931411" />
        <ComponentRef Id="_lib_org_scala_lang_scala_reflect_2_13_2_jar134400235" />
        <ComponentRef Id="_lib_ch_qos_logback_logback_core_1_2_3_jar156832362" />
        <ComponentRef Id="_lib_org_slf4j_slf4j_api_1_7_30_jar650562502" />
        <ComponentRef Id="_lib_org_codehaus_janino_commons_compiler_3_1_2_jar147717791" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_data_2_4_0_jar151465222" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_math_2_4_0_jar146347017" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_graph_2_4_0_jar205778321" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_netlib_2_4_0_jar77351523x" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_io_2_4_0_jar518741253" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_interpolation_2_4_0_jar998918179" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_nlp_2_4_0_jar556591537" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_plot_2_4_0_jar164836203" />
        <ComponentRef Id="_lib_com_github_haifengl_smile_json_2_13_2_4_0_jar871380460" />
        <ComponentRef Id="_lib_org_scala_lang_modules_scala_xml_2_13_1_3_0_jar113062446" />
        <ComponentRef Id="_lib_com_thoughtworks_xstream_xstream_1_4_12_jar124290467" />
        <ComponentRef Id="_lib_joda_time_joda_time_2_10_6_jar195457599" />
        <ComponentRef Id="_lib_org_joda_joda_convert_2_2_1_jar258571367" />
        <ComponentRef Id="_lib_com_google_guava_guava_19_0_jar176981278" />
        <ComponentRef Id="_lib_commons_codec_commons_codec_1_10_jar326227860" />
        <ComponentRef Id="_lib_io_circe_circe_numbers_2_13_0_13_0_jar185153127" />
        <ComponentRef Id="_lib_org_typelevel_cats_core_2_13_2_1_0_jar146091293" />
        <ComponentRef Id="_lib_com_chuusai_shapeless_2_13_2_3_3_jar89369042x" />
        <ComponentRef Id="_lib_io_circe_circe_jawn_2_13_0_13_0_jar437184426" />
        <ComponentRef Id="_lib_org_jheaps_jheaps_0_13_jar203324819" />
        <ComponentRef Id="_lib_com_github_vlsi_mxgraph_jgraphx_4_0_5_jar638256040" />
        <ComponentRef Id="_lib_org_antlr_antlr4_runtime_4_8_1_jar69542569x" />
        <ComponentRef Id="_lib_org_apache_commons_commons_text_1_8_jar984625119" />
        <ComponentRef Id="_lib_it_unimi_dsi_fastutil_8_3_1_jar156771387" />
        <ComponentRef Id="_lib_com_typesafe_config_1_4_0_jar190952942" />
        <ComponentRef Id="_org_scala_lang_modules_scala_java8_compat_2_13_0_9_0_jar193722625" />
        <ComponentRef Id="_lib_com_typesafe_akka_akka_protobuf_v3_2_13_2_6_8_jar145051095" />
        <ComponentRef Id="_lib_org_reactivestreams_reactive_streams_1_0_3_jar192433057" />
        <ComponentRef Id="_lib_com_typesafe_ssl_config_core_2_13_0_4_1_jar211505197" />
        <ComponentRef Id="_il_netlib_netlib_native_system_win_x86_64_1_1_natives_jar110072591" />
        <ComponentRef Id="_il_netlib_netlib_native_system_osx_x86_64_1_1_natives_jar885242982" />
        <ComponentRef Id="_netlib_netlib_native_system_linux_x86_64_1_1_natives_jar122663366" />
        <ComponentRef Id="_l_netlib_netlib_native_system_linux_armhf_1_1_natives_jar182491462" />
        <ComponentRef Id="_lib_com_github_fommil_netlib_native_system_java_1_1_jar122402889" />
        <ComponentRef Id="_lib_com_github_fommil_netlib_core_1_1_2_jar160310507" />
        <ComponentRef Id="_lib_com_github_fommil_jniloader_1_1_jar803011678" />
        <ComponentRef Id="_lib_net_sourceforge_f2j_arpack_combined_all_0_1_jar141428016" />
        <ComponentRef Id="_lib_com_epam_parso_2_0_11_jar128082244" />
        <ComponentRef Id="_lib_org_apache_commons_commons_csv_1_8_jar706653526" />
        <ComponentRef Id="_lib_org_swinglabs_swingx_1_6_1_jar368317396" />
        <ComponentRef Id="_lib_xmlpull_xmlpull_1_1_3_1_jar691886308" />
        <ComponentRef Id="_lib_xpp3_xpp3_min_1_1_4c_jar112872468" />
        <ComponentRef Id="_lib_org_typelevel_cats_macros_2_13_2_1_0_jar127689636" />
        <ComponentRef Id="_lib_org_typelevel_cats_kernel_2_13_2_1_0_jar498204993" />
        <ComponentRef Id="_lib_org_typelevel_jawn_parser_2_13_1_0_0_jar174242830" />
        <ComponentRef Id="_lib_org_apache_commons_commons_lang3_3_9_jar567393644" />
        <ComponentRef Id="_cala_lang_modules_scala_parser_combinators_2_13_1_1_2_jar55901191x" />
        <ComponentRef Id="_lib_com_jhlabs_filters_2_0_235_jar206066454" />
        <ComponentRef Id="_lib_org_swinglabs_swing_worker_1_1_jar114014348" />
        <ComponentRef Id="_bin_tabs891491206" />
        <ComponentRef Id="_bin_tabs_bat19380819x" />
        <ComponentRef Id="_manifest_chrome_win_json255906289" />
        <ComponentRef Id="_manifest_firefox_win_json891208716" />
      </Feature>
      <Feature Id="RegistryEntries" Title="Registry Entries" Description="Registry Entries for Native Messaging" Level="1" Absent="disallow">
        <ComponentRef Id="RegistryEntries64" />
      </Feature>
    </Feature>
    <MajorUpgrade AllowDowngrades="no" Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  </Product>
</Wix>
