<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <RegistryKey Id='ChromeManifestLocation' Root='HKLM' Key='SOFTWARE\Google\Chrome\NativeMessagingHosts\tabs' Action='createAndRemoveOnUninstall'>
        <RegistryValue Type='string' Value='[INSTALLDIR]manifest-chrome-win.json'/>
    </RegistryKey>

    <RegistryKey Id='FirefoxManifestLocation' Root='HKLM' Key='Software\Mozilla\NativeMessagingHosts\tabs' Action='createAndRemoveOnUninstall'>
        <RegistryValue Type='string' Value='[INSTALLDIR]manifest-firefox-win.json'/>
    </RegistryKey>
